In [1]:
import pandas as pd
watchshow = pd.read_csv('watch.csv')
watchshow

    age  gender    watch
0    34       0  digital
1    22       0    smart
2    50       1   quartz
3    19       1   quartz
4    51       0    smart
5    46       1  digital
6    36       0   quartz
7    28       0   quartz
8    49       1   quartz
9    38       1  digital
10   49       1    smart
11   36       0  digital
12   37       1    smart
13   45       1  digital
14   18       0  digital
15   23       0    smart
16   67       0    smart
17   55       1  digital
18   48       0   quartz
19   25       1   quartz

In [2]:
x = watchshow.drop(columns=['watch'])
x

    age  gender
0    34       0
1    22       0
2    50       1
3    19       1
4    51       0
5    46       1
6    36       0
7    28       0
8    49       1
9    38       1
10   49       1
11   36       0
12   37       1
13   45       1
14   18       0
15   23       0
16   67       0
17   55       1
18   48       0
19   25       1

In [3]:
y = watchshow['watch']
y

0     digital
1       smart
2      quartz
3      quartz
4       smart
5     digital
6      quartz
7      quartz
8      quartz
9     digital
10      smart
11    digital
12      smart
13    digital
14    digital
15      smart
16      smart
17    digital
18     quartz
19     quartz
Name: watch, dtype: object

In [4]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(x,y)
prediction = model.predict([[30,1]])
prediction

D:\Anaconda\Anaconda\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['quartz'], dtype=object)

In [5]:
import joblib
joblib.dump(model,'watch-recommender.joblib')

['watch-recommender.joblib']